<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852201675507-ltg81s42k63h243g05vma24s283rfv53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852201675507-ltg81s42k63h243g05vma24s283rfv53</string>
	<key>API_KEY</key>
	<string>AIzaSyCS0VwfBcJ3w6d0Bjddf-YttieVMu88Xqw</string>
	<key>GCM_SENDER_ID</key>
	<string>852201675507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.llllykl.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-1fe07</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-1fe07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852201675507:ios:a204f7e3a2cfb8d9db3586</string>
</dict>
</plist>